.product__footer {
  align-items: flex-end;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .product {
      width: 32%;
  }
}
